<h2>Find domains</h2>




<form role="form" action="/find" method="post">
    <textarea name="targets" placeholder="Enter domains: one per line" cols=140 rows=8></textarea><br>
    <div class="row">
         <div class="col-xs-4">   
            <input class="wide-button" type="submit" value="Submit" />
         </div>
         <div class="col-xs-8"> </div>
     </div>
</form>