

 <div class="row" style="width: 90%;">
        <h2> History for Link <a href="{{.LinkTopic}}" target="_blank" title="visit link">{{.LinkTopic}}</a></h2>
        <table class="console-table table table-striped table-condensed">
            <thead>
                <th class="col-xs-3"> Fetched On </th>
                <th class="col-xs-1"> Robots Excluded </th>
                <th class="col-xs-1"> Status </th>
                <th class="col-xs-5"> Error </th>

            </thead>
            <tbody>
                {{range .Linfos}}
                    <tr>
                        <td> {{ftime .CrawlTime}} </td>
                        <td> {{yesOnTrue .RobotsExcluded}} </td>
                        <td> {{statusText .Status}} </td>
                        <td> {{.Error}} </td>
                    </tr>
                {{end}}
            </tbody>
        </table>
    <div>