<script type="text/javascript">
    function clickPrev(a){
        var x = document.getElementById("pushprev")
        x.value = "1"

        var f = document.getElementById("hideForm")
        f.action = a.href
        a.href = "#"
        f.submit()
        return false
    }
    
    function clickNext(a){
        var f = document.getElementById("hideForm")
        f.action = a.href
        a.href = "#"
        f.submit()
        return false
    }

    function clickWindowResize(a){
        var f = document.getElementById("hideForm")
        f.action = document.URL
        var x = document.getElementById("pageWindowLength")
        x.value = a.text
        f.submit()
        return false
    }

</script>

<form id="hideForm" action="#" class="hidden" method="POST">
    <input type="hidden" name="prevlist" value="{{.PrevList}}">
    <input type="hidden" id="pushprev" name="pushprev" value="">
    <input type="hidden" id="pageWindowLength" name="pageWindowLength" value="">
</form>

{{if .HasHeader}}
    <div class="row">
        <div class="col-xs-10">
            <h2> Domain information for {{.Dinfo.Domain}} </h2>
            <table class="console-table table table-striped table-condensed">
                <tr>
                    <th class="col-xs-3"> Field </th>
                    <th class="col-xs-3"> Value </th>
                    <th class="col-xs-3"> &nbsp; </th> 
                </tr>
                
                <tr>
                    <td> Domain </td>
                    <td>  {{.Dinfo.Domain}} </td>
                    <td> &nbsp; </td>
                </tr>
                
                <tr>
                    <td> Exclude Reason (if excluded) </td>
                    <td>  {{.Dinfo.ExcludeReason}} </td>
                    <td > <a href="{{.ExcludeLink}}" style="width: 100%; background-color: {{.ExcludeColor}};" 
                             class="btn btn-info btn-large"> 
                               {{.ExcludeTag}}
                          </a> 
                    </td>
                </tr>
                
                <tr>
                    <td> Last Claimed By Fetcher </td>
                    <td>  {{ftime2 .Dinfo.ClaimTime}} </td>
                    <td> &nbsp; </td>                    
                </tr>
                
                <tr>
                    <td> Current Fetcher Claim ID </td>
                    <td>  {{fuuid .Dinfo.ClaimToken}} </td>
                    <td> &nbsp; </td>                    
                </tr>
                
                <tr>
                    <td> Total Unique Links </td>
                    <td>  {{.Dinfo.NumberLinksTotal}} </td>
                    <td> &nbsp; </td>                    
                </tr>
                
                <tr>
                    <td> Links Dispatched </td>
                    <td>  {{.Dinfo.NumberLinksQueued}} </td>
                    <td> &nbsp; </td>                    
                </tr>

                <tr>
                    <td> Unique Links Crawled </td>
                    <td>  {{.NumberCrawled}} </td>
                    <td> &nbsp; </td>                    
                </tr>

                <tr>
                    <td> Unique Links Not Yet Crawled </td>
                    <td>  {{.Dinfo.NumberLinksUncrawled}} </td>
                    <td> &nbsp; </td>                    
                </tr>

                <tr>
                    <td> Priority </td>
                    <td>  {{.Dinfo.Priority}} </td>                                        
                    <td>
                        <form id="prioForm" action="/changePriority" method="POST">
                            <input type="hidden" name="domain" value="{{.Dinfo.Domain}}">
                            Set Priority {{.MaxAllowedPrio}}: <input type="text" name="priority" style="width: 45px;">
                            <input type="submit" value="Submit" >
                        </form>
                    </td>
                </tr>                

            </table>
        </div>
    </div>
    <br>
{{end}}

{{if .HasLinks}}
    <div class="row" style="width: 90%;">
        <div class="col-xs-6">
            {{if .AltTitle}}
                <h2>Searched for links </h2>
            {{else}}
                {{if .HasHeader}}
                    <h2>Links for domain {{.Dinfo.Domain}} {{.FilterRegexSuffix}}</h2>
                {{else}}
                    <h2>Links for domain <a href="/links/{{.Dinfo.Domain}}" title="view domain info">{{.Dinfo.Domain}} {{.FilterRegexSuffix}}<a/></h2>
                {{end}}
            {{end}}
        </div>
        <div class="col-xs-3">
        </div>
        <div class="col-xs-3">
            <div class="btn-group dropdown" style="width: 100%;">

                <button type="button" style="width: 100%; color: white; background-color: green; margin-top: 15px;"
                        data-toggle="dropdown" class="btn btn-default dropdown-toggle">
                     Set Page Length
                    <span class="caret"></span>
                </button> 

                <ul class="dropdown-menu">
                    {{range .PageLengthLinks}}
                        <li><a href="#" onclick="clickWindowResize(this)" style="text-align: center;">{{.Text}}</a></li>
                    {{end}}
                </ul>
            </div>
        </div>
    </div>

    <div class="row" style="width: 90%;">
        <table class="console-table table table-condensed table-striped">
            <thead>
                <th class="col-xs-4"> Link </th>
                <th class="col-xs-1"> Status </th>
                <th class="col-xs-1"> Error? </th>
                <th class="col-xs-1"> Excluded by robots.txt? </th>
                <th class="col-xs-2"> Last Fetch </th>
            </thead>
            <tbody>
                {{range $i, $linfo := .Linfos}}
                    {{$hl := index $.HistoryLinks $i}}
                    <tr>
                        <td> <a href="{{$hl}}"> {{$linfo.URL}} </a> </td>
                        <td> {{statusText $linfo.Status}} </td>
                        <td> {{yesOnFilled $linfo.Error}} </td>
                        <td> {{yesOnTrue $linfo.RobotsExcluded}} </td>
                        <td> {{ftime $linfo.CrawlTime}} </td>
                    </tr>
                {{end}}
            </tbody>
        </table>
    <div>

    {{if not .DisableButtons}}
        <div style="width: 90%;" class="row">

            <a href="/links{{.Prev}}" class="col-xs-3 btn btn-info btn-large {{.PrevButtonClass}}" onclick="clickPrev(this)">
                      <i class="icon-white icon-backward"></i> Previous</a>

            <div class="col-xs-1"></div>

            <a href="/links/{{.Dinfo.Domain}}/{{.NextSeedURL}}{{.FilterURLSuffix}}"  onclick="clickNext(this)" 
             class="col-xs-3 btn btn-info btn-large {{.NextButtonClass}}">
                      <i class="icon-white icon-forward"></i> Next </a>

        </div>
    {{end}}

{{else}}
    <div class="row">
        <h2> No links for domain {{.Dinfo.Domain}} {{.FilterRegexSuffix}}</h2>
    </div>
{{end}}

