
{{if .HasHeader}}
    <div class="row">
        <div class="col-xs-6">
            <h2> Domain information for {{.Dinfo.Domain}} </h2>
            <table class="console-table table table-striped table-condensed table-bordered ">
                <tr>
                    <th> Field </th>
                    <th> Value </th>
                </tr>
                
                <tr>
                    <td> Domain </td>
                    <td>  {{.Dinfo.Domain}} </td>
                </tr>
                
                <tr>
                    <td> Exclude Reason (if excluded) </td>
                    <td>  {{.Dinfo.ExcludeReason}} </td>
                </tr>
                
                <tr>
                    <td> Last Claimed By Fetcher </td>
                    <td>  {{ftime2 .Dinfo.TimeQueued}} </td>
                </tr>
                
                <tr>
                    <td> Current Fetcher Claim ID </td>
                    <td>  {{fuuid .Dinfo.UuidOfQueued}} </td>
                </tr>
                
                <tr>
                    <td> Total Unique Links </td>
                    <td>  {{.Dinfo.NumberLinksTotal}} </td>
                </tr>
                
                <tr>
                    <td> Links Dispatched </td>
                    <td>  {{.Dinfo.NumberLinksQueued}} </td>
                </tr>

                <tr>
                    <td> Unique Links Crawled </td>
                    <td>  {{.NumberCrawled}} </td>
                </tr>

                <tr>
                    <td> Unique Links Not Yet Crawled </td>
                    <td>  {{.Dinfo.NumberLinksUncrawled}} </td>
                </tr>

            </table>
        </div>
    </div>
    <br>
{{end}}

{{if .HasLinks}}
    <div class="row" style="width: 90%;">
        {{if .AltTitle}}
            <h2> Searched for links </h2>
        {{else}}
            <h2> Links for domain {{.Dinfo.Domain}} {{.FilterRegexSuffix}}</h2>
        {{end}}
        <table class="console-table table table-condensed table-striped">
            <thead>
                <th class="col-xs-4"> Link </th>
                <th class="col-xs-1"> Status </th>
                <th class="col-xs-1"> Error? </th>
                <th class="col-xs-1"> Excluded by robots.txt? </th>
                <th class="col-xs-2"> Last Fetch </th>
            </thead>
            <tbody>
                {{range $i, $linfo := .Linfos}}
                    {{$hl := index $.HistoryLinks $i}}
                    <tr>
                        <td> <a href="{{$hl}}"> {{$linfo.Url}} </a> </td>
                        <td> {{statusText $linfo.Status}} </td>
                        <td> {{yesOnFilled $linfo.Error}} </td>
                        <td> {{yesOnTrue $linfo.RobotsExcluded}} </td>
                        <td> {{ftime $linfo.CrawlTime}} </td>
                    </tr>
                {{end}}
            </tbody>
        </table>
    <div>

    {{if not .DisableButtons}}
        <div style="width: 90%;" class="row">

            <a href="" class="col-xs-3 btn btn-info btn-large {{.PrevButtonClass}}" onclick="window.history.back()">
                      <i class="icon-white icon-backward"></i> Previous</a>

            <div class="col-xs-1"></div>

            <a href="/links/{{.Dinfo.Domain}}/{{.NextSeedUrl}}{{.FilterUrlSuffix}}" class="col-xs-3 btn btn-info btn-large {{.NextButtonClass}}">
                      <i class="icon-white icon-forward"></i> Next </a>

        </div>
    {{end}}

{{else}}
    <div class="row">
        <h2> No links for domain {{.Dinfo.Domain}} {{.FilterRegexSuffix}}</h2>
    </div>
{{end}}

