
<script type="text/javascript">
    function clickPrev(a){
      var f = document.getElementById("pushprev")
      f.value = "1"
      return clickNext(a)
    }
    
    function clickNext(a){
        var f = document.getElementById("prevlist")
        f.action = a.href
        a.href = "#"
        f.submit()
        return false
    }

    function clickWindowResize(a){
        var f = document.getElementById("prevlist")
        f.action = document.URL
        var x = document.getElementById("pageWindowLength")
        x.value = a.text
        console.log(x.value)
        f.submit()
        return false
    }
</script>

<div class="row">
    <div class="col-xs-4">
        <h2>List of Domains</h2>
    </div>
    <div class="col-xs-3">
    </div>
    <div class="col-xs-2">
        <div class="btn-group dropdown" style="width: 100%;">

            <button type="button" style="width: 100%; color: white; background-color: green; margin-top: 15px;"
                    data-toggle="dropdown" class="btn btn-default dropdown-toggle">
                 Set Page Length
                <span class="caret"></span>
            </button> 

            <ul class="dropdown-menu">
                {{range .PageLengthLinks}}
                    <li><a href="#" onclick="clickWindowResize(this)" style="text-align: center;">{{.Text}}</a></li>
                {{end}}
            </ul>
        </div>
      </div>
</div>

<div style="width: 80%;" class="row">
    <table class="console-table table table-striped table-condensed">
        <thead> 
          <td class="col-xs-4"> Domain </td>
          <td class="col-xs-2" style="text-align: center;"> Total Links </td>
          <td class="col-xs-2" style="text-align: center;"> Links Dispatched </td>
          <td class="col-xs-1" style="text-align: center;"> Excluded </td>
          <td class="col-xs-3" style="text-align: center;"> Last Claimed By Fetcher </td>
        </thead>
        <tbody>
        {{range .Domains}}
            <tr> 
              <td> <a href="/links/{{.Domain}}"> {{.Domain}} </a> </td>
              <td style="text-align: center;"> {{.NumberLinksTotal}} </td>
              <td style="text-align: center;"> {{.NumberLinksQueued}} </td>
              <td style="text-align: center;"> {{yesOnFilled .ExcludeReason}} </td>
              <td style="text-align: center;"> {{activeSince .ClaimTime}} </td>
            </tr>
        {{end}}
        </tbody>
    </table>
</div>

<div style="width: 80%;" class="row">



    <a href="/list{{.Prev}}" class="col-xs-3 btn btn-info btn-large {{.PrevButtonClass}}" 
               onclick="clickPrev(this)">
          <i class="icon-white icon-backward"></i> Previous</a>

    <div class="col-xs-1"></div>

    <a href="/list/{{.Next}}" class="col-xs-3 btn btn-info btn-large {{.NextButtonClass}}"
              onclick="clickNext(this)">
          <i class="icon-white icon-forward"></i> Next </a>
</div>

<form id="prevlist" action="#" class="hidden" method="POST">
    <input type="hidden" name="prevlist" value="{{.PrevList}}">
    <input type="hidden" id="pushprev" name="pushprev" value="">
    <input type="hidden" id="pageWindowLength" name="pageWindowLength" value="">
</form>

