
<div class="row">
    <div class="col-xs-4">
        <h2>List of Domains</h2>
    </div>
    <div class="col-xs-3">
    </div>
    <div class="col-xs-2">
        <div class="btn-group dropdown" style="width: 100%;">

            <button type="button" style="width: 100%; color: white; background-color: green; margin-top: 15px;"
                    data-toggle="dropdown" class="btn btn-default dropdown-toggle">
                 Set Page Length
                <span class="caret"></span>
            </button> 

            <ul class="dropdown-menu">
                {{range .PageLengthLinks}}
                    <li><a href="{{.Link}}" style="text-align: center;">{{.Text}}</a></li>
                {{end}}
            </ul>
        </div>
      </div>
</div>

<div style="width: 80%;" class="row">
    <table class="console-table table table-striped table-condensed">
        <thead> 
          <td class="col-xs-4"> Domain </td>
          <td class="col-xs-2" style="text-align: center;"> Total Links </td>
          <td class="col-xs-2" style="text-align: center;"> Links Dispatched </td>
          <td class="col-xs-1" style="text-align: center;"> Excluded </td>
          <td class="col-xs-3" style="text-align: center;"> Last Claimed By Fetcher </td>
        </thead>
        <tbody>
        {{range .Domains}}
            <tr> 
              <td> <a href="/links/{{.Domain}}"> {{.Domain}} </a> </td>
              <td style="text-align: center;"> {{.NumberLinksTotal}} </td>
              <td style="text-align: center;"> {{.NumberLinksQueued}} </td>
              <td style="text-align: center;"> {{yesOnFilled .ExcludeReason}} </td>
              <td style="text-align: center;"> {{activeSince .ClaimTime}} </td>
            </tr>
        {{end}}
        </tbody>
    </table>
</div>

<div style="width: 80%;" class="row">

    <script type="text/javascript">
        function callPrevWithPrevList(a){
          var f = document.getElementById("prevlist")
          f.value = "1"
          return callWithPrevList(a)
        }
        
        function callWithPrevList(a){
            var f = document.getElementById("prevlist")
            f.action = a.href
            f.submit()
            return false
        }
    </script>

    <a href="/list/{{.Prev}}" class="col-xs-3 btn btn-info btn-large {{.PrevButtonClass}}" 
               onclick="callPrevWithPrevList(this)">
          <i class="icon-white icon-backward"></i> Previous</a>

    <div class="col-xs-1"></div>

    <a href="/list/{{.Next}}" class="col-xs-3 btn btn-info btn-large {{.NextButtonClass}}"
              onclick="callWithPrevList(this)">
          <i class="icon-white icon-forward"></i> Next </a>
</div>

<form id="prevlist" action="#" class="hidden" method="POST">
    <input type="hidden" name="prevlist" value="{{.PrevList}}">
    <input id="pushprev" type="hidden" name="pushprev" value="">
</form>

